<h1> Login </h1>

<form class="loginForm" action="api/sessions/login" method="POST">
    <label class="loginForm" for="email">Email</label>
    <input class="loginForm" type="email" name="email" required>

    <label class="loginForm" for="password">Password</label>
    <input class="loginForm" type="text" name="password" required>

    <button class="loginForm" type="submit"> Login </button>
    <p class="loginForm">No recuerdas tu contraseña<br><a href="/requestPasswordReset">Reinicia tu password</a></p>

    <a class="loginForm" href="/register">no tienes una cuenta?</a>
    <a class="loginForm" href="/api/sessions/github">iniciar con GitHub</a>
</form>