 <h1>Profile</h1>
<p class="profileUser">Name: {{user.firstName}}</p>
<p class="profileUser">Last Name: {{user.lastName}}</p>
<p class="profileUser">Rol: {{user.rol}}</p>

<a class="profileUser" href="/api/sessions/logout">Logout</a>
<a class="profileUser" href="/products">Productos</a>