<h1> Registrarse </h1>

<form class="registerAccount" action="/api/users" method="POST">
    <label class="registerAccount" for="first_name">First Name: </label>
    <input class="registerAccount" type="text" name="first_name" required>

    <label class="registerAccount" for="last_name">Last Name: </label>
    <input class="registerAccount" type="text" name="last_name">

    <label class="registerAccount" for="email">Email: </label>
    <input class="registerAccount" type="text" name="email" required>

    <label class="registerAccount" for="password">Password: </label>
    <input class="registerAccount" type="text" name="password" required>

    <label class="registerAccount" for="age">Age: </label>
    <input class="registerAccount" type="text" name="age" required>

    <button class="registerAccount" type="submit"> Register </button>
</form>